/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #264653;
}

.clr-btn {
  background: #e76f51;
  color: white;
}
.container .text {
  color: white;
}
small,
span {
  color: #e76f51;
}
.gray-img {
  filter: grayscale(100%);
}
.client-img {
  height: 149px;
  width: 149px;
  border-radius: 50%;
  overflow: hidden;
}
.client-img img {
  width: 100%;
  height: 100%;
  background: center center/cover;
}
.comment {
  color: #6c6c6c;
}
.client-name {
  color: #23a6f0;
}
.fa-star {
  color: #e77c40;
}
.accordion-body p {
  color: #7e848c;
}
